.metadata/
IrcServer/.classpath
IrcServer/.project
IrcServer/bin/
IrcServer/target/
IrcServer/.settings/
AuthPlugin/.classpath
AuthPlugin/.project
AuthPlugin/bin/
AuthPlugin/.settings/
AutoJoin/.classpath
AutoJoin/.project
AutoJoin/bin/
AutoJoin/.settings/

